<!DOCTYPE html>
<html class="no-branding">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>410 - Page Archived</title>
    <link href="/gone.css" media="screen" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]><link href="/ie.css" media="screen" rel="stylesheet" type="text/css"><![endif]-->
  </head>
  <body>
    <div id="wrapper">
      <div id="banner" role="banner">
        <div class="inner">
          <h1>
            <a href="https://www.gov.uk">
              <img src="/govuk-logo.png" alt="GOV.UK">
            </a>
          </h1>
        </div>
      </div>
      <div id="message" role="main">
        <div class="inner">
          <div id="detail">
            <h2>
              <div class="organisation <%= css || "no-organisation" %>">
                <a href="<%= homepage %>"><span><%= title %></span></a>
              </div>
              <a href="<%= archive_url %>">This item has been archived</a>
            </h2>
            <p class="either-or">You can either</p>
            <p class="call-to-action"><a href="<%= archive_url %>">View the item you were looking for</a> in the UK Government Web Archive</p>
            <p class="either-or">or</p>
            <p class="call-to-action">Visit the new <%= title %> site at <a href="<%= homepage %>"><%= furl || homepage %></a></p>
            <% if suggested_url %>
              <p class="either-or">or</p>
              <p class="call-to-action">Visit <a href="<%= suggested_url %>"><%= suggested_url.gsub(%r{\Ahttps?://|/\z}, '') %></a> for more information on this topic.</p>
            <% end %>
          </div>
          <div id="footer">
            <p><a href="https://www.gov.uk/support">Our support pages</a> have answers to the most common questions about GOV.UK.
            You can use the <a href="https://www.gov.uk/feedback/contact">contact form</a> to ask a question, report a problem or suggest an improvement.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
